
html{
	--font-black: rgb(31, 31, 31);
}
 html,body{
          
    width: 100vw;
    min-width: 250px;
    height: fit-content;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

*{
	padding: 0;
    margin: 0;
    font-family: 'Red Hat Display',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.welcome-header{
    background-image: linear-gradient(135deg,#333333,#414141,#333333);
    background-size: 200%;
    max-width: 100vw;
	height: 100vh;
	animation: fadeOut 2s;
	animation-fill-mode: forwards;
	animation-delay: 3s;
    animation-timing-function: ease-out;
    overflow: hidden;
}
.container{
  
    position: absolute;
    width: 100%;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
    font-weight: 400;
    
}
.text1{
        width: 100%;
        /*color: #f7f2f2;*/
        text-transform: uppercase;
        color: whitesmoke;
		font-size: 3rem;
		letter-spacing: 1rem;
		animation: text 1900ms linear;
		position: relative;
		animation-fill-mode: forwards;
}
.text2{
	color: transparent;
	font-size: 2rem;
	transition: 1s;
    position: absolute;
    letter-spacing: 1.5px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	animation: second 2s linear;
	animation-delay: 500ms;
	animation-fill-mode: forwards;
	z-index: -2;
}

@keyframes text{10%{letter-spacing: 1.5rem;transform: scale(1.1);}20%{letter-spacing: 1.7rem;}30%{letter-spacing: 1.8rem;}50%{letter-spacing: 1.5rem;}100%{letter-spacing:.8rem;}}
@keyframes second{0%{color: transparent;}20%{color: whitesmoke;top: 140%;}30%{top: 150%;}40%{top: 120%;}50%{top: 150%;}60%{top: 120%;}70%{top: 150%;}80%{top: 130%;}85%{top: 150%;}90%{top: 140%;}95%{top: 145%;}100%{color: whitesmoke;top: 140%;}}
@keyframes fadeOut{from{opacity: 1;}to{opacity: 0;}}	
        

/*@keyframes show{
    from{opacity: 0;}to{opacity: 1;}}*/
        
.nav-bar{
    width: 100vw;
	height: 5rem;
	display: flex;
	justify-content: space-between;
	padding: 0px 5rem;
	align-items: center;
    position: fixed;
    box-sizing: border-box;
    z-index: 2;
    background-color: white;
    border-bottom: 1px solid #f5f5f5;
}
.nav-bar .logo{
	
	display: flex;
	align-items: center;
    width: 4rem;
    height: 4rem;
    
}
.logo img{
    border-radius: 50%;
    width: 100%;
    width: 100%s;
}
.nav-bar ul{
	list-style:none;
	height: fit-content;
	color: var(--font-black);
}
.nav-bar li{
	display: inline;
	margin: 0px .5rem;
    cursor: pointer;
    padding: .1rem .5rem;
    font-weight: 700;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: .2s;
    animation: fadeLink 1000ms;
    animation-delay: 6800ms;
    animation-fill-mode: forwards;
    opacity: 0;
    position: relative;
}
.nav-bar li::after{
    content: "";
    position: absolute;
    bottom: -.1rem;
    left: 50%;
    transform: translateX(-50%);
    height: .2rem;
    width: 0;
    border-top: 2px solid var(--font-black);
    transition: 300ms;
}

.nav-bar li:hover::after{
    width: 80%;
}
@keyframes fadeLink{from{ opacity: 0;}to{opacity: 1;}}

.active{
    background-image: linear-gradient(to right,#333333,#969696,#333333);
    background-size: 200%;
    color: white;
}
.home-container{
    min-width: 100%;
	height: 100vh;
    /*background-color: linear-gradient(135deg,black,white);*/
	position:absolute;
	top: 0;
	z-index: 1;
    opacity: 1;
   /* animation: show 1s;
    animation-fill-mode: forwards;*/
    display: none;
}
.get-started-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    position: relative;}

.get-started-container .start-header{
    animation: textslidecont 1s;
    opacity: 0;
    animation-fill-mode: forwards;
    position: relative;
    left: -15%;
    height: fit-content;}   

.get-started-container header h1{
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 6rem;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 10rem;
    animation: textslideTwo 2s;
    animation-fill-mode: forwards;
    color: var(--font-black);
}

.get-started-container header .p1{
    font-size: 2rem;
    white-space: nowrap;
    overflow: hidden;
    animation: textslideOne 2s;
    animation-fill-mode: forwards;
    color: #969696;
    position: absolute;
    top: -.8rem;
    left: 0;

}
.get-started-container header .p2{
    font-size: 1rem;
    color: #969696;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: .5rem;
    animation: textslideThree 2s;
    animation-fill-mode: forwards;
}
.get-started-container header h1::after{
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: .3rem;
    bottom: 1rem;
    left: .5rem;
    opacity: 0;
    animation: line 1500ms ease-out; 
    animation-delay: 2100ms;
    animation-fill-mode: forwards;
    background-color: var(--font-black); 
}
/*Keyframes for homeheader*/
@keyframes textslidecont{0%{opacity: .6;}100%{opacity: 1;}}
@keyframes textslideTwo{0%{max-width:0ch;overflow: hidden; letter-spacing: 9rem;}100%{max-width: 15ch;letter-spacing: 0;}}
@keyframes textslideOne{0%{max-width:0ch;overflow: hidden; letter-spacing: 9rem;  }100%{max-width: 14ch;letter-spacing: 0;}}
@keyframes textslideThree{0%{max-width:0ch; overflow: hidden; letter-spacing: 9rem;  }100%{max-width: 54ch;letter-spacing: .1rem;}}
@keyframes line{0%{ opacity: 1;width: 1%;}50%{width: 70%; }100%{opacity: 1;width: 40%;}}

.start-btn{
    outline: none;
    background:none;
    padding: .5rem 2.5rem;
    font-size: 1.5rem;
    display: block;
    border: none;
    position: relative;
    margin-top: 2rem;
  /*
    position: absolute;
    bottom: 20%;
    left: 50%;
     transform: translateX(-50%);
   text-align: left; 
    border:2px solid var(--font-black);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;*/
    cursor: pointer;
}
.start-btn::after{
    content: ' \00BB';
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    right: .2rem;
    transform: translate(20%,-50%);
    animation: button 1s ease-in;
    animation-iteration-count: infinite;
    transition: 1s;
}
/*TRANSITIONS FOR CONTAINERS*/
@keyframes containerTrans{
    0%{
      transform: scale(1);
        left: 0;
      }
      100%{
      transform: scale(.3);
        left: -100vw;
      }
}
@keyframes toRight{
    0%{
        transform: scale(.3);
          left:100vw;
        }
        100%{
        transform: scale(1);
         left: 0;
        }
}

/*TABS*/
#tabContainer > section{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 7rem;
   
}
#tabContainer .about{
    width: 100%;
    height: 100vh;
    display: none;
    position: relative;
    animation: toRight 700ms ease-out;
    animation-fill-mode: forwards;
    
}
#tabContainer .contact{
    display: none;
    max-width: 100vw; 
    box-sizing: border-box;
    position: relative;
    animation: toRight 700ms ease-out;
    animation-fill-mode: forwards;
    
}
#tabContainer .ideas-section{
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    display: none;
    animation: toRight 700ms ease-out;
    animation-fill-mode: forwards;
}
/*CONTACT*/
.contact .suggest-cont{
    width: 40%;
    position: relative;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}
.social-cont{
    border-top:1px solid #f5f5f5;
    width: 100%;
    position: relative;
    text-align: center;
    padding: 2rem 0;
    box-sizing: border-box;
}
.suggest-cont div{
    margin: .5rem;
}
.suggest-cont p{
    max-width: 25rem;
    text-align: left;
    letter-spacing: 1px;
    margin: 0 auto;
    padding: 1rem;
    opacity: .8;
}
.suggest-cont h3{
    letter-spacing: .2rem;
    text-transform: uppercase;
}
.stars-cont i{
    font-size: 2rem;
    cursor: pointer;
}
.stars-cont .fa{
    color:whitesmoke;
    border: rgb(54, 54, 54);
}

.suggest-cont form{
    text-align: center;
    width: 100%;    
    box-sizing: border-box;
    display: inline-block;
    padding: 1rem 0;
}
.suggest-cont textarea{
    padding: .5rem;
    box-sizing: border-box;
    border: none;
    outline: none;
    overflow: hidden;
    margin-bottom: 1rem;    
    min-width: 100%;
    color: var(--font-black);
}
.suggest-cont .btn{
    padding: .6rem 2rem;
    letter-spacing: 2px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    outline: none;
    border: none;
    color: white;
    background-image: linear-gradient(to right,#333333,#969696,#333333);
    background-size: 200%;
    transition: .5s;
}
.suggest-cont .btn:hover{
    transition: .5s;
    background-position:right;
}

.social-btn{
    display: inline-block;
    box-sizing: border-box;
   
}
.social-cont h4{
    text-align:center;
    padding: 2rem 0;
    text-transform: uppercase;
    box-sizing: border-box;
}
.social-btn a{
    display: inline-block;
    text-decoration: none;
    margin: 1rem 2.5rem;
    width: 3rem;
    height: 2.8rem;
    text-align: center;
    background-image: linear-gradient(to right,#333333,#969696,#333333);
    background-size: 200%;
    border-radius: 15px;
   position: relative;
}
.social-btn i{
    font-size: 2rem;
    transition: .5s;
    color: whitesmoke;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
/*
.social-btn a:hover .fa-twitter{
   color: cornflowerblue;
}
.social-btn a:hover .fa-google:hover{
    color: rgb(231, 108, 91);
}
.social-btn a:hover .fa-github:hover{
    color: rgb(181, 221, 87);
}
.social-btn a:hover .fa-facebook:hover{
    color: rgb(36, 58, 255);
}
.social-btn a:hover .fa-instagram:hover{
    color: rgb(180, 54, 54);
}*/
.social-btn a:hover{
    transform: translateY(10px);
    transition: .5s;
    background-position: right;
}
/*ABOUT*/
.about article{
    font-size: 1rem;
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: transparent;
    /*box-shadow: 2px 2px 5px gray;
    border: 1.5px solid rgba(248, 248, 248, 0.678);*/
    width: 80%;
    min-height: 60vh;
    text-align: center;
    padding:1.5rem 5rem;
    box-sizing: border-box;
}
.about article h2{
    text-transform: uppercase;
    position: relative;
    margin-bottom: 1rem;
    letter-spacing: .2rem;
    color: var(--font-black);
   
}
.about article p{
    position: relative;
    color: rgb(141, 137, 137);
    padding-bottom: 1rem;
    letter-spacing: 1px;
    border-bottom: 2px solid rgb(141, 137, 137);
}
/*IDEAS CONTAINER*/

.ideas-section > h3{
    text-transform: uppercase;
    padding-left:1rem;
    padding-right:1rem;
    padding-top: 1rem;
    position: relative;
    letter-spacing: .1rem;
}
.ideas-section > p{
    padding-top: .7rem;
    padding-left: 2rem;
    padding-right:2rem;
    opacity:.8;
    letter-spacing: 1px;
    position: relative;
}
.ideas-container{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin-top: 3rem;

}
.ideas-container > figure{  
    width: 20rem;
    height: 20rem;
    position: relative;
}
.figcaption{
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}
figure a{
    max-width: 100%;
    max-height: 100%;
    }

/*figure .ribbon-in-figure{

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        transition: 1s;
        border-top: 3.5rem solid #f5f5f5;
        border-right: 0rem solid #f5f5f5;
        border-bottom: 3.5rem solid #f5f5f5;
        border-left: 0rem solid transparent;
 }
 figure .ribbon-in-figure::after{
    content: "GALLERY"; 
    background-color: transparent;
    position: absolute;
    right: -65px;
    top:-10px;
    font-size: .8rem;
    letter-spacing: -7px;
    color: transparent;
}
figure:hover .ribbon-in-figure{
    animation: ribbon .2s ease-out;
    animation-fill-mode: forwards;
}
figure:hover .ribbon-in-figure::after{
    animation: ribboncaption .1s;
    animation-delay: 100ms;
    animation-fill-mode: forwards;
}
@keyframes ribbon{
    from{ border-top: 3.5rem solid #f5f5f5;
        border-right: 1rem solid #f5f5f5;
        border-bottom: 3.5rem solid #f5f5f5;
        border-left: 1rem solid transparent;}
    to{ border-top: 3rem solid #f5f5f5;
        border-right: 4.5rem solid #f5f5f5;
        border-bottom: 3rem solid #f5f5f5;
        border-left: 4.5rem solid transparent;}
}
@keyframes ribboncaption{
    from{letter-spacing: -7px;}
    to{ letter-spacing: .5px;color: var(--font-black);}
    }
/*GALLLERY SECTION*/

.close{
    transform: rotate(45deg);
    font-size: 3rem;
    color:rgb(131, 124, 124);
    position: absolute;
    top: -1rem;
    right: .7rem;
    cursor: pointer;
    outline: none;
}
.close:hover{text-shadow: 1px 1px 2px black;}

.gallery-section{
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    width:100vw;
    min-width:100%;
    height: 100vh;
    z-index: 3;
    display: none;
    box-sizing: border-box;}
@keyframes fromBottom{
    from{transform: scale(.5);top:80%;}
    to{transform: scale(1);top:0;}}
@keyframes fromTop{
    from{transform: scale(1);top:0;}
    to{transform: scale(0);top:100%;}}

.gallery-section .gallery-container{
    height: 80vh;
    width: 80vw;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;}

.gallery-small-cont{
    width: 28rem;
    height: 90%;  
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 2rem;}

.gallery-small-cont .general{
    height: 85%;
    max-width: 100%;
    position: relative;
    box-sizing: border-box;}

.gallery-small-cont .general .main-box{
    max-width: 100%;
    height: 100%;
    display: flex;
    transition: -5s;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;}

#mainOne{
   
   visibility: hidden;
}
#mainTwo{
    visibility: hidden;
}
.main-box .box{
    min-width: 100%;
    min-height: 100%;
    position: relative;
    margin-bottom: 2rem;
    
    box-sizing: border-box;
}
.box img{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.box .caption{
    text-align: center;
    position: absolute;
    bottom: 0;
    padding: .5rem 0;
    background-color:rgba(255, 255, 255, 0.6);}

/*Small Interior*/

.btn-container{
    width: 10rem;
    display: flex;
    height: fit-content;
    margin: 1rem auto;
    justify-content: space-evenly;
    align-items: center;
}
.btn-container a{
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: gray;
    outline: none;}

.btn-container a:hover{
    text-shadow: 1px 1px 2px black;}

.btn-container p{
    font-weight: bold;
    color:var(--font-black);}

figure a img{
width: 100%;
height: 100%;
border-top-right-radius: 20px;
cursor: pointer;}

figure a img:hover{
    box-shadow: 1px 1px 5px rgb(31, 31, 31);}

/*Button animation*/
@keyframes button{
    0%{transform: translate(30%,-50%);}40%{transform: translate(40%,-50%);}70%{transform: translate(50%,-50%);}100%{transform: translate(20%,-50%);}}

/*RESPONSIVENESS*/
@media screen and (max-width: 1200px){
/*Header*/
.get-started-container .start-header{
    left: -10%;
}
}

@media screen and (max-width: 1024px){
/*IDEAS*/

.ideas-container > figure{  
    width: 18rem;
     height: 18rem;
    position: relative;
        
}
/*Header*/
.get-started-container .start-header{
    left: -5%;
}


/*Ideas Gallery*/
figure:hover .ribbon-in-figure::after{
    animation:none;
}
.gallery-small-cont{
    width: 30rem; 
}
}
@media screen and (max-width: 910px){

/*GET STARTED*/
.get-started-container header h1{
    font-size: 4rem;
}
.get-started-container header h1::after{
    height: .1rem;
}
.get-started-container header .p1{
    font-size: 1.3rem;
}
.get-started-container header .p2{
    font-size: 1rem;
    
}
.get-started-container .start-header{
    left: 0%;
}

}
@media screen and (max-width: 800px){
/*TABS*/
#tabContainer section{

    overflow: visible;
}
/*SUGGEST CONT*/
.contact .suggest-cont{
    width: 95%;
}
/*IDEAS*/
.ideas-section p{
    font-size: .9rem;
    margin-bottom: 1rem;
}
.ideas-container{  
  display: block;
} 
.ideas-container > figure:nth-child(2){
  margin-top: 4rem;
}
figure:hover .ribbon-in-figure::after{
    animation:none;
}

.ideas-container > figure{    
    margin: 0 auto;  
 }/*GET STARTED*/
 

}
@media screen and (max-width: 700px){

 /*Welcome*/
.text1{
    font-size: 1.5rem;
     word-wrap: none;
}
.text2{
 font-size: 1rem;
}
figure:hover .ribbon-in-figure::after{
    animation:none;
}

/*NavBar*/
.nav-bar{padding: 0 1rem;}
.nav-bar li{margin: 0;}

/*Header*/
.get-started-container header h1{
    font-size: 4rem;
    transition: .2s;
}
.get-started-container header h1::after{
    
    bottom: .5rem;
    
}
.get-started-container header .p1{
    font-size: 1.2rem;
    transition: .2s;
}
.get-started-container header .p2{
    font-size: .8rem;
    transition: .2s;
}
.start-btn{
    text-align: left;
    padding: .2rem 1.2rem;

}
.start-btn::after{
    font-size: 20px;
}
/*GALLERY*/
.gallery-small-cont{
    width: 23rem;
    
   
}

}
@media screen and (max-width: 650px){

/*SUGGEST CONT*/
.contact .suggest-cont p{
    text-align: center;
}

/*START HEADER*/
.get-started-container header h1{
    font-size: 2rem;
    transition: .2s;
}
.get-started-container header h1::after{
    height: .2rem;
    bottom: 0rem;
}

.get-started-container header .p1{
    font-size: .8rem;
    transition: .2s;
}
.get-started-container header .p2{
    font-size: .6rem;
    transition: .2s;
}
/*START HEADER*/



/*ANIMATION*/
@keyframes textslidecont{0%{opacity: .6;}100%{opacity: 1;}}
@keyframes textslideTwo{0%{max-width:0ch;overflow: hidden; letter-spacing: 6rem;}100%{max-width: 15ch;letter-spacing: 0;}}
@keyframes textslideOne{0%{max-width:0ch;overflow: hidden; letter-spacing: 6rem;  }100%{max-width: 14ch;letter-spacing: 0;}}
@keyframes textslideThree{0%{max-width:0ch; overflow: hidden; letter-spacing: 6rem;  }100%{max-width: 54ch;letter-spacing: 0;}}
@keyframes line{0%{ opacity: 1;width: 1%;}50%{width: 70%; }100%{opacity: 1;width: 40%;}}

/*ABOUT*/

.about article{
    padding: 3rem 1rem;
    width: 90%;
}

figure:hover .ribbon-in-figure::after{
    animation:none;
}
    
}
/*for gallery only*/
@media screen and (max-width: 550px){
/*IDEAS SECTION*/
.ideas-section h3{
    font-size: 1rem;
}
.gallery-small-cont{
    width: 22rem;
    height: 85%;  
   
}
.gallery-small-cont .general{
    height: 75%;
    
}}

@media screen and (max-width: 450px){

/*WELCOME HEADER*/
@keyframes text{10%{letter-spacing: .8rem;}20%{letter-spacing: .9rem;}30%{letter-spacing: 1rem;}50%{letter-spacing: 1.1rem;}100%{letter-spacing:.8rem;}}


figure:hover .ribbon-in-figure::after{animation:none;}

/*GALLERY*/
.gallery-section{
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0;
    width:100vw;
    min-width:100%;
    height: 100vh;
    z-index: 3;
    display: none;}

.gallery-section .gallery-container{
    height: 60vh;
    width: 90vw;
    box-sizing: border-box;}

.gallery-small-cont{width:85%;}

/*CONTACT*/

.social-btn a{
  
    border-radius: 40%;
    padding: 0 1rem;
}
/*SUGGEST/SOCIAL BUTTON*/
.social-btn a{
    margin: 1rem 2.5rem;
    width: 2.3rem;
    height: 2.7rem;}
}
@media screen and (max-width: 400px){

    /*Nav*/
.nav-bar li{
    margin: 0;
}
.nav-bar ul{
    text-align: right;
}
.nav-bar ul li a{
    padding: .1rem .2rem;          
}
/*IDEAS*/
.ideas-container{    
      padding:0 0 3rem 0;
      box-sizing: border-box;
      
}
.ideas-container > figure{  
    width: 90%;
    height: 15rem;
    padding: 0;    
}

figure:hover .ribbon-in-figure::after{
    animation:none;
}
/*GALLERY*/
.gallery-small-cont{
    width: 90%;   
}

.box .caption h3{
   font-size: 1rem;
   font-weight: bold;
}

.box .caption p{
    font-size: .8rem;
    font-weight: 400;
    line-height: 10px;
}
}
